$moradito: #5e17eb;
$tifany: #00bfb2;
$tifany-transparent: rgba(0, 191, 178, 0.35);
$raisinBlack: #231f20;
$patrickBlue: #202480;

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

header {
  width: 100%;
  height: 80px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  h1 {
    font-size: 30px;
    cursor: pointer;
    color: $raisinBlack;
  }

  div {
    padding: 40px;
    span {
      cursor: pointer;
    }
  }
}

.emphasis {
  color: $moradito;
}

.emphasis2 {
  color: $tifany;
}

.intro {
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  h1 {
    color: $raisinBlack;
    margin: 30px;
    font-weight: bolder;
    font-size: 4vw;
  }
  p {
    font-size: 2vw;
  }
}

.avatar {
  margin-top: 50px;
  width: 40%;
  max-width: 280px;
  aspect-ratio: 1 / 1;
  background-image: url("./multimedia/J8d.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.ilustration {
  width: 100%;
  display: flex;
  justify-content: center;

  img {
    width: 80%;
    max-width: 650px;
    aspect-ratio: 16/9;
  }
}

.description {
  background-color: $moradito;
  display: flex;
  justify-content: center;
  min-height: 450px;
  div {
    padding: 70px 20% 0 20%;
    color: white;
    text-align: center;

    h2 {
      font-size: x-large;
      padding-bottom: 10px;
    }
    p {
      padding: 20px 0;
      font-size: large;
    }
  }
}

.experiencia {
  margin-top: -120px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-columns: repeat(4, 250px);
  gap: 10px;
  text-align: center;
  justify-content: center;
}

.card {
  div {
    width: 250px;
    height: 300px;
    border: 0.5px solid whitesmoke;
    background-color: white;
    box-shadow: 0px 4px 17px -4px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    h2 {
      padding-top: 20px;
    }
    p {
      font-size: medium;
      padding: 10px 20px;
    }
  }
}

.proyectos {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 40px;
}

.presentacion-proyectos {
  padding: 40px 0;
  h2 {
    padding-bottom: 20px;
    font-size: x-large;
  }
  p {
    font-size: large;
  }
}

.tarjetas-proyectos {
  padding: 40px 0 200px 0;
  margin: 10px;
  min-width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, max(260px));
  grid-auto-rows: 185px;
  gap: 20px;
}

.tarjeta-proyecto {
  width: 260px;
  border: 0.5px solid whitesmoke;
  border-radius: 20px;
  cursor: pointer;

  img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    border: 0.5px solid whitesmoke;
    border-radius: 20px;
  }

  :hover {
    opacity: 0.3;
  }
}

footer {
  width: 100%;
  background-color: $moradito;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.last-info {
  width: 90%;
  height: 120px;
  background-color: $patrickBlue;
  margin-top: -60px;
  border-radius: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  box-shadow: 0px 4px 17px -4px rgba(0, 0, 0, 0.75);

  p {
    font-size: large;
  }

  h1 {
    font-size: x-large;
  }

  button {
    width: 60%;
    height: 30%;
    justify-self: center;
    background-color: transparent;
    border: 2px solid $tifany;
    border-radius: 10px;
    color: white;
    font-size: large;
    cursor: pointer;
  }

  button:hover {
    background-color: $tifany;
  }
}

.contact {
  padding: 80px 0;
  color: white;
  text-align: center;
  h1 {
    font-size: 30px;
  }

  p {
    padding-top: 20px;
    font-size: 20px;
    color: whitesmoke;
    font-weight: lighter;
  }
}

.social {
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.icon-social {
  margin: 0 10px;
  width: 47px;
  height: 47px;
  border-radius: 50%;
  border: 2px solid $tifany;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media all and(max-width:1260px) {
  .card {
    grid-template-columns: repeat(2, 250px);
    grid-template-rows: repeat(2, auto);
  }

  .last-info {
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, 1fr);
    width: 80%;
    height: 300px;
    width: 370px;

    button {
      height: 60%;
    }
  }
}

@media all and(max-width:620px) {
  .card {
    grid-template-columns: 250px;
    grid-template-rows: repeat(3, auto);
    width: 320px;
  }
}
